/*--------------------------------------------------------------
#Variables
--------------------------------------------------------------*/

/*
Initial values should be defined through SASS Variables
but variables which need have to be changed depending on dark/light mode
or for different breakpoints should be defined as CSS Variables
*/

// Colors
$color__white: #ffffff;
$color__black: #000000;
$color__gray--dark: #222222;
$color__gray--darker: #1c1c1c;
$color__gray--light: #eeeeee;

$color__amber: #FFB300;
$color__red: #CF3A3A;
$color__pink: #EC407A;
$color__purple: #AB47BC;
$color__blue: #28aae2;
$color__green: #348236;

// Font-Family
$font-family__base: Arial, sans-serif;
$font-family__heading: Georgia, serif;

// Font-Sizes
$font-size__base: 20px;
$font-size__h1: 2rem;
$font-size__h2: 1.5rem;
$font-size__h3: 1.17rem;
$font-size__h4: 1rem;
$font-size__h5: 0.83rem;
$font-size__h6: 0.67rem;
$font-size__small: 0.83rem;

// Font-Weight:
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__bold: 700;

// Line-Height
$line-height__base: 1.45;
$line-height__heading: 1.3;

// Z-Indices
$z-index: (
  header               : 1000,
  main                 : 900,
  footer               : 800,
);
